
      <ul class="review">
        Package: <%- package_name %></br>         
        Title: <%- title %></br>
        Description: <%- description %></br>        
        Platform: <%- platform %></br>
        Rating: <%- rating %></br>
        Datetime: <%- datetime %></br>       
        <button data-action='edit'>Edit</button>
        <button data-action='release'>Delete</button>
      </ul>
