<!DOCTYPE html>
<html>
<head>
  <title>Sublime Packages Evaluator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

    <!-- Templates -->
    <!-- in HTML5 you can use the tag <TEMPLATE> -->

    <script type="text/template" id="user-template">
      <ul class="user">
        <%- email %> likes to review Sublime packages.  
        <!-- <button data-action='release'>Delete</button> -->
        <button data-action='edit'>Edit</button>
      </ul>
    </script>

    <script type="text/template" id="edit-user-template">      
      <form class="edit-user-form"> 
        <input type="text" placeholder='<%- email %>'>       
      </form>
    </script>


     <script type="text/template" id="package-template">
      <ul class="package">
        <%- name %> is the name of the Sublime package.  
        <!-- <button data-action='release'>Delete</button> -->
        <button data-action='edit'>Edit</button>
      </ul>
    </script>

    <script type="text/template" id="edit-package-template">      
      <form class="edit-package-form"> 
        <input type="text" placeholder='<%- name %>'>       
      </form>
    </script>
   

</head>
<body>

    <% if current_user %>
        <p>Logged in as <%= current_user.email %></p>
        <%= link_to "LogOut", logout_path, method: :delete %>
    <% else %>
        <%= link_to 'SignUp', signup_path %>
        <%= link_to 'LogIn', login_path %>
    <% end %>
    
<%= yield %>

</body>
</html>
